<div class="absolute top-0 z-[-2] min-h-screen h-[100%] w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"></div>

<section class="p-8 flex flex-wrap justify-center items-center gap-4">
  <!-- CARD -->
  <ed-craft-card classification="Objects">
  <img
    edCraftCardThumbnail
    class="rounded-t-lg"
    src="https://flowbite.com/docs/images/blog/image-1.jpg"
    alt="office with laptop"
  />
  <ng-container edCraftCardTitle>
    🐱‍🐉
    <h5 class="text-2xl font-bold tracking-tight text-white">
      Card Title
    </h5>
  </ng-container>
  <section edCraftCardBody>
    <p class="font-normal text-gray-400">
      Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
    </p>
  </section>
  <section edCraftCardFooter>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Leer más
    </a>
  </section>
  </ed-craft-card>
  <!-- CARD -->
  <!-- MODAL -->
  <ed-craft-modal />
  <button
    class="text-white bg-gradient-to-r from-cyan-500
     to-blue-500 hover:bg-gradient-to-bl focus:ring-4
      focus:outline-none focus:ring-cyan-300
      dark:focus:ring-cyan-800 font-medium rounded-lg 
      text-sm px-5 py-2.5 text-center me-2 mb-2"
    type="button"
    (click)="showModal()"
  >Open Craft Modal</button>
  <!-- MODAL -->

  <!-- INTERACTIVE CHART -->
   <ed-craft-interactive-chart
    title="Interactive Chart"
    [labels]="['January', 'February', 'March', 'April']"
    [datasets]="[
    {
      label: 'Tech',
      data: [11, 23, 85, 56, 18],
      backgroundColor: [
        '#522258',
        '#8C3061',
        '#C63C51',
        '#D95F59',
      ],
    },
    {
      label: 'Home',
      data: [61, 21, 34, 93, 24],
      backgroundColor: [
        '#FFDFD6',
        '#E3A5C7',
        '#B692C2',
        '#694F8E'          
      ],
    },
    {
      label: 'Clothes',
      data: [12, 59, 77, 13, 54],
      backgroundColor: [
        '#201E43',
        '#134B70',
        '#508C9B',
        '#EEEEEE'          
      ],
    },
  ]"
   />
  <!-- INTERACTIVE CHART -->
</section>
